<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('navbar', {links: links}) %> <%- include('pages/'+page) %>
    <!-- locals property can be used to extend the template without calling render yet -->
    <%= locals.foo %> <%- include('footer') %>
  </body>
</html>
